[Unit]
Description=CO2 monitoring service
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/pi/co2/
ExecStart=/home/pi/co2/venv/bin/python co2.py /dev/co2mini1
ExecStartPre=/bin/sleep 30
ConditionPathExists=/dev/co2mini1
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
